.wrapper {
	margin:0 auto;
	width:1000px;
}

.image {
	opacity: 0.9;
	margin-top: 10px;
}

h1 {
	margin-top:20px;
	font-size: 40px;
}

h2{
	font-size: 30px;
}

.allArticleDisplay {
	margin-top: 20px;
}

.saveBtnStyle, .unsaveBtnStyle, .noteBtnStyle{
	float: right
}
 
.modalTextStyle {
	text-align: center;
	margin-top: 30px;
	font-size: 30px;
}

.mainPresetTextStyle {
	text-align: center;
	font-size: 30px;
}

.articleTitleStyle {
	font-size: 20px;
}

tr {
	padding-bottom: 3px;
	padding-top: 3px;
}